/* login */

.bg-auth {
    background-color: #252757;
}

.bg-body {
    background-color: #003573;
}

.img-auth {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#password + .feather {
    cursor: pointer;
    pointer-events: all;
}

.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-auth-1 {
    border-color: #4839eb !important;
    background-color: #650765 !important;
    color: #ffffff;
}

.btn-auth-2 {
    border-color: #650765 !important;
    background-color: #4839eb !important;
    color: #ffffff;
}

.input-field input:focus {
    box-shadow: 0px 4px 20px rgba(169, 169, 169, 0.25);
}

.input-field button {
    position: absolute;
    top: 7px;
    right: 4px;
    background: none;
    border: none;
    color: #8d8d8d;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.input-field button:active {
    transform: scale(1.1);
}

/* scroll */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    opacity: 0.2;
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    height: 70px;
    background-color: #003573;
}

.role-color {
    color: #10163a;
}
.project-detail-titles {
    color: #3c3232 !important;
    font-weight: bold;
    font-size: 15px;
}
.project-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 10px;
}
.project-circle-add {
    background-color: #ebebeb;
    color: #3c3232;
}
.project-detail-dates {
    color: #3c3232 !important;
    font-weight: 400;
    font-size: 15px;
}
.project-detail-skill {
    background-color: #650865;
    border-radius: 40px;
    padding: 10px;
}
.icon-big {
    font-size: 18px !important;
}

/*///////////////////////////*/
/*   PERSONALIZED CLASSES    */
/*       FINANCING           */
/*///////////////////////////*/

#container-card-principal {
    width: 681px;
    height: 580.05px;
    background: #ffffff;
}

#container-card-small {
    width: 326.4px;
    height: 160.64px;
    left: 730px;
    background: #ffffff;
}
#holidays-date {
    color: #650865;
    left: 18px;
    bottom: 40px;
}
#font-client {
    left: 150px;
    bottom: 5px;
}

/*///////////////////////////*/
/*   PERSONALIZED CLASSES     */
/*          BILL              */
/*////////////////////////////*/

#big-container-card {
    width: 1080px;
    height: 828px;
    background: #ffffff;
}

#background-of-progress {
    background: #3c3232;
    border-radius: 10px;
}
#card-of-body {
    padding: 0px 0px !important;
}
#div-bottom {
    background: #ebebeb;
    color: #000;
}
#div-bottom-2 {
    background: #650865;
}

/*/////////////////////////////*/
/*   PERSONALIZED CLASSES      */
/*         PROJECTS            */
/*/////////////////////////////*/

.status-label {
    border-radius: 10px;
    font-weight: 500;
    color: white;
    padding: 10px;
}
.status-label-gray{
    background: #3c3232;
}
.status-label-purple{
    background: #650865;
}
.status-label-blue{
    background: #252856;
}
.status-label-green{
    background: #26A30B;
}
.status-label-red{
    background: red;
}
.action-icon{
    color: #3C3232 !important;
    font-size: 15px;
}
.nav-link-pills{
    padding: 12px !important;
}
.transaction-description{
    font-size: 15px; 
    color: #650865; 
    font-weight: 500;
}
.transaction-status{
    font-size: 12px; 
    color: #3C3232; 
    font-weight: 400;
}

#process-project {
    background: #3c3232;
    border-radius: 10px;
    font-weight: 500;
}

#div-bottom-project {
    padding: 0px 0px !important;
}


#div-bottom-background2 {
    background: #650865;
    cursor: pointer;

}

.btn-circle {
    width: 39px;
    height: 39px;
    font-weight:850;
    padding: 6px 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.2);
    transition: .2s;
    

}

.btn{
    background-color: #EBEBEB;

}

.btn:hover{
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
        transform: scale(1.05,1.05);
}

/*///////////////////////////*/
/*   PERSONALIZED CLASSES    */
/*           CHAT            */
/*///////////////////////////*/

.chat-username{
    color: black; 
    padding-bottom: 5px; 
    font-weight: bold;
}
.chat-date{
    font-size: 12px;
}


/*/////////////////////////////*/
/*   PERSONALIZED CLASSES      */
/*         PROFILE             */
/*/////////////////////////////*/

#container-big-principal {
    width: 905px;
    height: 700.57px;
    background: #ffffff;
    margin-right: 180px; 
}

#all-center-items {
    display: flex;
    align-items: center;
}

/*/////////////////////////////*/
/*   PERSONALIZED CLASSES      */
/*         DASHBOARD            */
/*/////////////////////////////*/

#shadow {
    background: linear-gradient(rgba(37, 40, 86, 0) 0%, #252856 100%);
    border-radius: 0 0 7px 7px;
    align-items: center;
 /*   width: 140px;*/
    margin-top: -5px;
}


/*/////////////////////////////*/
/*   PERSONALIZED CLASSES      */
/*         Responsive            */
/*/////////////////////////////*/

#recomiendo{
    right: 5px;

}


@media screen and (max-width: 531px) {
    #recomiendo { display: flex; flex-flow: column; }
    #recomiendo {
        width: 180px;
    
}}

#position {
    margin: 0px 15px 0px 0px;
}

#size {
    margin: 0px 15px 0px 15px;
}


@media only screen and (max-width: 800px) {

    #position {
        margin: 0px 10px 20px 0px;
    }
}

/*////////// FINANCIERO FACTURAS, MODAL (GENERAR) //////////*/

#listas{
    margin-bottom: 50px;
}

.one{
margin-left: 25px;
display:inline-block;
}

.four{
margin-left: 100px;
display:inline-block;

}

.three{
margin-left: 50px;
display:inline-block;

}

.two{
margin-left: 25px;
display:inline-block;

}

#add_field {
float: left;
padding:5px;

}
#botom{
    width: 150px;
    margin-left: 620px;
}

